TaxiClient/Service References/CarRentalService/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://taxiservice.michaeldv.nl/webservices" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://taxiservice.michaeldv.nl/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://taxiservice.michaeldv.nl/webservices/Imports">
      <xsd:import schemaLocation="http://localhost:55178/WebService.svc?xsd=xsd0" namespace="http://taxiservice.michaeldv.nl/webservices" />
      <xsd:import schemaLocation="http://localhost:55178/WebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55178/WebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarRentalService.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebService_GetCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCities" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetDealers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDealers" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetDealers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDealersResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetCars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCars" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_IsAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAvailable" />
  </wsdl:message>
  <wsdl:message name="IWebService_IsAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_Book_InputMessage">
    <wsdl:part name="parameters" element="tns:Book" />
  </wsdl:message>
  <wsdl:message name="IWebService_Book_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_getUserBookings_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserBookings" />
  </wsdl:message>
  <wsdl:message name="IWebService_getUserBookings_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserBookingsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_CancelBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelBooking" />
  </wsdl:message>
  <wsdl:message name="IWebService_CancelBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelBookingResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebService">
    <wsdl:operation name="GetCountries">
      <wsdl:input wsaw:Action="http://taxiservice.michaeldv.nl/webservices/IWebService/GetCountries" message="tns:IWebService_GetCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://taxiservice.michaeldv.nl/webservices/IWebService/GetCountriesResponse" message="tns:IWebService_GetCountries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <wsdl:input wsaw:Action="http://taxiservice.michaeldv.nl/webservices/IWebService/GetCities" message="tns:IWebService_GetCities_InputMessage" />
      <wsdl:output wsaw:Action="http://taxiservice.michaeldv.nl/webservices/IWebService/GetCitiesResponse" message="tns:IWebService_GetCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDealers">
      <wsdl:input wsaw:Action="http://taxiservice.michaeldv.nl/webservices/IWebService/GetDealers" message="tns:IWebService_GetDealers_InputMessage" />
      <wsdl:output wsaw:Action="http://taxiservice.michaeldv.nl/webservices/IWebService/GetDealersResponse" message="tns:IWebService_GetDealers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <wsdl:input wsaw:Action="http://taxiservice.michaeldv.nl/webservices/IWebService/GetCars" message="tns:IWebService_GetCars_InputMessage" />
      <wsdl:output wsaw:Action="http://taxiservice.michaeldv.nl/webservices/IWebService/GetCarsResponse" message="tns:IWebService_GetCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAvailable">
      <wsdl:input wsaw:Action="http://taxiservice.michaeldv.nl/webservices/IWebService/IsAvailable" message="tns:IWebService_IsAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://taxiservice.michaeldv.nl/webservices/IWebService/IsAvailableResponse" message="tns:IWebService_IsAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Book">
      <wsdl:input wsaw:Action="http://taxiservice.michaeldv.nl/webservices/IWebService/Book" message="tns:IWebService_Book_InputMessage" />
      <wsdl:output wsaw:Action="http://taxiservice.michaeldv.nl/webservices/IWebService/BookResponse" message="tns:IWebService_Book_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserBookings">
      <wsdl:input wsaw:Action="http://taxiservice.michaeldv.nl/webservices/IWebService/getUserBookings" message="tns:IWebService_getUserBookings_InputMessage" />
      <wsdl:output wsaw:Action="http://taxiservice.michaeldv.nl/webservices/IWebService/getUserBookingsResponse" message="tns:IWebService_getUserBookings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelBooking">
      <wsdl:input wsaw:Action="http://taxiservice.michaeldv.nl/webservices/IWebService/CancelBooking" message="tns:IWebService_CancelBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://taxiservice.michaeldv.nl/webservices/IWebService/CancelBookingResponse" message="tns:IWebService_CancelBooking_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>