TaxiClient/Service References/CarRentalService/WebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CarRentalService.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CarRentalService.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCountryContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryContract" nillable="true" type="tns:CountryContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryContract" nillable="true" type="tns:ArrayOfCountryContract" />
  <xs:complexType name="CountryContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryContract" nillable="true" type="tns:CountryContract" />
  <xs:complexType name="ArrayOfCityContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CityContract" nillable="true" type="tns:CityContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCityContract" nillable="true" type="tns:ArrayOfCityContract" />
  <xs:complexType name="CityContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityId" type="xs:int" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="tns:CountryContract" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityContract" nillable="true" type="tns:CityContract" />
  <xs:complexType name="ArrayOfDealerContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DealerContract" nillable="true" type="tns:DealerContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDealerContract" nillable="true" type="tns:ArrayOfDealerContract" />
  <xs:complexType name="DealerContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="tns:CityContract" />
      <xs:element minOccurs="0" name="DealerId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DealerContract" nillable="true" type="tns:DealerContract" />
  <xs:complexType name="ArrayOfCarContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarContract" nillable="true" type="tns:CarContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarContract" nillable="true" type="tns:ArrayOfCarContract" />
  <xs:complexType name="CarContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarId" type="xs:int" />
      <xs:element minOccurs="0" name="CarType" nillable="true" type="tns:CarTypeContract" />
      <xs:element minOccurs="0" name="DateOfPurchase" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Dealer" nillable="true" type="tns:DealerContract" />
      <xs:element minOccurs="0" name="Licence" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarContract" nillable="true" type="tns:CarContract" />
  <xs:complexType name="CarTypeContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Maxpersons" type="xs:int" />
      <xs:element minOccurs="0" name="PricePerDay" type="xs:double" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarTypeContract" nillable="true" type="tns:CarTypeContract" />
  <xs:complexType name="CarBookingContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Car" nillable="true" type="tns:CarContract" />
      <xs:element minOccurs="0" name="CarBookingId" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarBookingContract" nillable="true" type="tns:CarBookingContract" />
  <xs:complexType name="ArrayOfCarBookingContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarBookingContract" nillable="true" type="tns:CarBookingContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarBookingContract" nillable="true" type="tns:ArrayOfCarBookingContract" />
</xs:schema>