AttractieService/WebContent/wsdl/AttractionImplementationPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://booking/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AttractionImplementationService" targetNamespace="http://booking/">
<types>
<xsd:schema>
<xsd:import namespace="http://booking/" schemaLocation="AttractionService.xsd"/>
</xsd:schema>
</types>
<message name="getAttractionTypes">
<part element="tns:getAttractionTypes" name="parameters"/>
</message>
<message name="getAttractionTypesResponse">
<part element="tns:getAttractionTypesResponse" name="parameters"/>
</message>
<message name="bookAttraction">
<part element="tns:bookAttraction" name="parameters"/>
</message>
<message name="bookAttractionResponse">
<part element="tns:bookAttractionResponse" name="parameters"/>
</message>
<message name="getAttractions">
<part element="tns:getAttractions" name="parameters"/>
</message>
<message name="getAttractionsResponse">
<part element="tns:getAttractionsResponse" name="parameters"/>
</message>
<message name="getRegions">
<part element="tns:getRegions" name="parameters"/>
</message>
<message name="getRegionsResponse">
<part element="tns:getRegionsResponse" name="parameters"/>
</message>
<message name="getCities">
<part element="tns:getCities" name="parameters"/>
</message>
<message name="getCitiesResponse">
<part element="tns:getCitiesResponse" name="parameters"/>
</message>
<message name="getBooking">
<part element="tns:getBooking" name="parameters"/>
</message>
<message name="getBookingResponse">
<part element="tns:getBookingResponse" name="parameters"/>
</message>
<message name="getCountries">
<part element="tns:getCountries" name="parameters"/>
</message>
<message name="getCountriesResponse">
<part element="tns:getCountriesResponse" name="parameters"/>
</message>
<portType name="AttractionImplementation">
<operation name="getAttractionTypes">
<input message="tns:getAttractionTypes" wsam:Action="http://booking/AttractionImplementation/getAttractionTypesRequest"/>
<output message="tns:getAttractionTypesResponse" wsam:Action="http://booking/AttractionImplementation/getAttractionTypesResponse"/>
</operation>
<operation name="bookAttraction">
<input message="tns:bookAttraction" wsam:Action="http://booking/AttractionImplementation/bookAttractionRequest"/>
<output message="tns:bookAttractionResponse" wsam:Action="http://booking/AttractionImplementation/bookAttractionResponse"/>
</operation>
<operation name="getAttractions">
<input message="tns:getAttractions" wsam:Action="http://booking/AttractionImplementation/getAttractionsRequest"/>
<output message="tns:getAttractionsResponse" wsam:Action="http://booking/AttractionImplementation/getAttractionsResponse"/>
</operation>
<operation name="getRegions">
<input message="tns:getRegions" wsam:Action="http://booking/AttractionImplementation/getRegionsRequest"/>
<output message="tns:getRegionsResponse" wsam:Action="http://booking/AttractionImplementation/getRegionsResponse"/>
</operation>
<operation name="getCities">
<input message="tns:getCities" wsam:Action="http://booking/AttractionImplementation/getCitiesRequest"/>
<output message="tns:getCitiesResponse" wsam:Action="http://booking/AttractionImplementation/getCitiesResponse"/>
</operation>
<operation name="getBooking">
<input message="tns:getBooking" wsam:Action="http://booking/AttractionImplementation/getBookingRequest"/>
<output message="tns:getBookingResponse" wsam:Action="http://booking/AttractionImplementation/getBookingResponse"/>
</operation>
<operation name="getCountries">
<input message="tns:getCountries" wsam:Action="http://booking/AttractionImplementation/getCountriesRequest"/>
<output message="tns:getCountriesResponse" wsam:Action="http://booking/AttractionImplementation/getCountriesResponse"/>
</operation>
</portType>
<binding name="AttractionImplementationPortBinding" type="tns:AttractionImplementation">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="getAttractionTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookAttraction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAttractions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRegions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCities">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCountries">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AttractionImplementationService">
<port binding="tns:AttractionImplementationPortBinding" name="AttractionImplementationPort">
<soap:address location="http://localhost:8080/AttractieService/services/AttractionImplementationPort"/>
</port>
</service>
</definitions>
