TaxiClient/Service References/FlightService/FlightService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlightService.DataModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlightService.DataModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFlightDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlightDTO" nillable="true" type="tns:FlightDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlightDTO" nillable="true" type="tns:ArrayOfFlightDTO" />
  <xs:complexType name="FlightDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirplaneId" type="xs:int" />
      <xs:element minOccurs="0" name="AirplaneName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartureDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartureId" type="xs:int" />
      <xs:element minOccurs="0" name="DepartureLatitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureLongitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationId" type="xs:int" />
      <xs:element minOccurs="0" name="DestinationLatitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationLongitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlightId" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightDTO" nillable="true" type="tns:FlightDTO" />
  <xs:complexType name="ArrayOfAirportDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AirportDTO" nillable="true" type="tns:AirportDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAirportDTO" nillable="true" type="tns:ArrayOfAirportDTO" />
  <xs:complexType name="AirportDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AiportId" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AirportDTO" nillable="true" type="tns:AirportDTO" />
  <xs:complexType name="ArrayOfPassengerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PassengerDTO" nillable="true" type="tns:PassengerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPassengerDTO" nillable="true" type="tns:ArrayOfPassengerDTO" />
  <xs:complexType name="PassengerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassengerId" type="xs:int" />
      <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PassengerDTO" nillable="true" type="tns:PassengerDTO" />
  <xs:complexType name="BookingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingId" type="xs:int" />
      <xs:element minOccurs="0" name="Flight" nillable="true" type="tns:FlightDTO" />
      <xs:element minOccurs="0" name="Passengers" nillable="true" type="tns:ArrayOfPassengerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingDTO" nillable="true" type="tns:BookingDTO" />
  <xs:complexType name="ArrayOfBookingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookingDTO" nillable="true" type="tns:BookingDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookingDTO" nillable="true" type="tns:ArrayOfBookingDTO" />
</xs:schema>