TaxiClient/Service References/TaxiService/WebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TaxiService.ServicesDataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TaxiService.ServicesDataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52297/WebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/To8Libraries.Domain" />
  <xs:complexType name="TaxiPriceInfoRequest">
    <xs:sequence>
      <xs:element name="AmountOfPassengers" type="xs:int" />
      <xs:element name="DateTime" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/To8Libraries.Domain" name="DepartureAddress" nillable="true" type="q1:Address" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/To8Libraries.Domain" name="DestinationAddress" nillable="true" type="q2:Address" />
      <xs:element name="IsDepartureTime" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxiPriceInfoRequest" nillable="true" type="tns:TaxiPriceInfoRequest" />
  <xs:complexType name="TaxiPriceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountOfPassengers" type="xs:int" />
      <xs:element minOccurs="0" name="ArrivalTime" type="xs:dateTime" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/To8Libraries.Domain" minOccurs="0" name="DepartureAddress" nillable="true" type="q3:Address" />
      <xs:element minOccurs="0" name="DepartureTime" type="xs:dateTime" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/To8Libraries.Domain" minOccurs="0" name="DestinationAddress" nillable="true" type="q4:Address" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="TaxiId" type="xs:int" />
      <xs:element minOccurs="0" name="TaxiType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxiPriceInfo" nillable="true" type="tns:TaxiPriceInfo" />
  <xs:complexType name="TaxiBookingRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TaxiPriceInfo">
        <xs:sequence>
          <xs:element name="UserToken" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TaxiBookingRequest" nillable="true" type="tns:TaxiBookingRequest" />
  <xs:complexType name="TaxiBooking">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TaxiPriceInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="UserToken" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TaxiBooking" nillable="true" type="tns:TaxiBooking" />
  <xs:complexType name="UserBookingsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingId" type="xs:int" />
      <xs:element name="UserToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserBookingsRequest" nillable="true" type="tns:UserBookingsRequest" />
  <xs:complexType name="UserBookings">
    <xs:sequence>
      <xs:element minOccurs="0" name="TaxiBookings" nillable="true" type="tns:ArrayOfTaxiBooking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserBookings" nillable="true" type="tns:UserBookings" />
  <xs:complexType name="ArrayOfTaxiBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxiBooking" nillable="true" type="tns:TaxiBooking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaxiBooking" nillable="true" type="tns:ArrayOfTaxiBooking" />
  <xs:complexType name="CancelBookingRequest">
    <xs:sequence>
      <xs:element name="BookingId" type="xs:int" />
      <xs:element name="UserToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelBookingRequest" nillable="true" type="tns:CancelBookingRequest" />
  <xs:complexType name="GetAddressRequest">
    <xs:sequence>
      <xs:element name="LocationName" nillable="true" type="xs:string" />
      <xs:element name="LocationType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAddressRequest" nillable="true" type="tns:GetAddressRequest" />
</xs:schema>