TaxiClient/Service References/HotelService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://82.171.241.182:49772/Design_Time_Addresses/HotelService/HotelBookingInterface/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfHotel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hotel" nillable="true" type="tns:Hotel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotel" nillable="true" type="tns:ArrayOfHotel" />
  <xs:complexType name="Hotel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelId" type="xs:short" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PictureUrl" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hotel" nillable="true" type="tns:Hotel" />
  <xs:complexType name="ArrayOfRoomType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomType" nillable="true" type="tns:RoomType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomType" nillable="true" type="tns:ArrayOfRoomType" />
  <xs:complexType name="RoomType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:short" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxPersons" type="xs:short" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomTypeId" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomType" nillable="true" type="tns:RoomType" />
  <xs:complexType name="ArrayOfBookingRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookingRow" nillable="true" type="tns:BookingRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookingRow" nillable="true" type="tns:ArrayOfBookingRow" />
  <xs:complexType name="BookingRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:short" />
      <xs:element minOccurs="0" name="BookingRowId" type="xs:short" />
      <xs:element minOccurs="0" name="RoomType" nillable="true" type="tns:RoomType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingRow" nillable="true" type="tns:BookingRow" />
  <xs:complexType name="Booking">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrivalDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BookingId" type="xs:short" />
      <xs:element minOccurs="0" name="BookingRow" nillable="true" type="tns:ArrayOfBookingRow" />
      <xs:element minOccurs="0" name="DepartureDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" type="tns:Status" />
      <xs:element minOccurs="0" name="TotalPersons" type="xs:short" />
      <xs:element minOccurs="0" name="UserId" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Booking" nillable="true" type="tns:Booking" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="reserved" />
      <xs:enumeration value="cancelled" />
      <xs:enumeration value="expired" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="ArrayOfBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Booking" nillable="true" type="tns:Booking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBooking" nillable="true" type="tns:ArrayOfBooking" />
</xs:schema>