AttractieService/web/WEB-INF/wsdl/localhost_8080/AttractieService/AttractionImplementationService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://booking/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://booking/" name="AttractionImplementationService">
<types>
<xsd:schema>
<xsd:import namespace="http://booking/" schemaLocation="http://localhost:8080/AttractieService/AttractionImplementationService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAttractionTypes">
<part name="parameters" element="tns:getAttractionTypes"/>
</message>
<message name="getAttractionTypesResponse">
<part name="parameters" element="tns:getAttractionTypesResponse"/>
</message>
<message name="bookAttraction">
<part name="parameters" element="tns:bookAttraction"/>
</message>
<message name="bookAttractionResponse">
<part name="parameters" element="tns:bookAttractionResponse"/>
</message>
<message name="getAttractions">
<part name="parameters" element="tns:getAttractions"/>
</message>
<message name="getAttractionsResponse">
<part name="parameters" element="tns:getAttractionsResponse"/>
</message>
<message name="getRegions">
<part name="parameters" element="tns:getRegions"/>
</message>
<message name="getRegionsResponse">
<part name="parameters" element="tns:getRegionsResponse"/>
</message>
<message name="getCities">
<part name="parameters" element="tns:getCities"/>
</message>
<message name="getCitiesResponse">
<part name="parameters" element="tns:getCitiesResponse"/>
</message>
<message name="getBooking">
<part name="parameters" element="tns:getBooking"/>
</message>
<message name="getBookingResponse">
<part name="parameters" element="tns:getBookingResponse"/>
</message>
<message name="getCountries">
<part name="parameters" element="tns:getCountries"/>
</message>
<message name="getCountriesResponse">
<part name="parameters" element="tns:getCountriesResponse"/>
</message>
<portType name="AttractionImplementation">
<operation name="getAttractionTypes">
<input wsam:Action="http://booking/AttractionImplementation/getAttractionTypesRequest" message="tns:getAttractionTypes"/>
<output wsam:Action="http://booking/AttractionImplementation/getAttractionTypesResponse" message="tns:getAttractionTypesResponse"/>
</operation>
<operation name="bookAttraction">
<input wsam:Action="http://booking/AttractionImplementation/bookAttractionRequest" message="tns:bookAttraction"/>
<output wsam:Action="http://booking/AttractionImplementation/bookAttractionResponse" message="tns:bookAttractionResponse"/>
</operation>
<operation name="getAttractions">
<input wsam:Action="http://booking/AttractionImplementation/getAttractionsRequest" message="tns:getAttractions"/>
<output wsam:Action="http://booking/AttractionImplementation/getAttractionsResponse" message="tns:getAttractionsResponse"/>
</operation>
<operation name="getRegions">
<input wsam:Action="http://booking/AttractionImplementation/getRegionsRequest" message="tns:getRegions"/>
<output wsam:Action="http://booking/AttractionImplementation/getRegionsResponse" message="tns:getRegionsResponse"/>
</operation>
<operation name="getCities">
<input wsam:Action="http://booking/AttractionImplementation/getCitiesRequest" message="tns:getCities"/>
<output wsam:Action="http://booking/AttractionImplementation/getCitiesResponse" message="tns:getCitiesResponse"/>
</operation>
<operation name="getBooking">
<input wsam:Action="http://booking/AttractionImplementation/getBookingRequest" message="tns:getBooking"/>
<output wsam:Action="http://booking/AttractionImplementation/getBookingResponse" message="tns:getBookingResponse"/>
</operation>
<operation name="getCountries">
<input wsam:Action="http://booking/AttractionImplementation/getCountriesRequest" message="tns:getCountries"/>
<output wsam:Action="http://booking/AttractionImplementation/getCountriesResponse" message="tns:getCountriesResponse"/>
</operation>
</portType>
<binding name="AttractionImplementationPortBinding" type="tns:AttractionImplementation">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAttractionTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookAttraction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAttractions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRegions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCities">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCountries">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AttractionImplementationService">
<port name="AttractionImplementationPort" binding="tns:AttractionImplementationPortBinding">
<soap:address location="http://localhost:8080/AttractieService/AttractionImplementationService"/>
</port>
</service>
</definitions>