AttractieService/src/conf/xml-resources/web-services/NewWebServiceFromWSDL/wsdl/AttractionService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://booking/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://booking/">

<xs:element name="bookAttraction" type="tns:bookAttraction"/>

<xs:element name="bookAttractionResponse" type="tns:bookAttractionResponse"/>

<xs:element name="getAttractionTypes" type="tns:getAttractionTypes"/>

<xs:element name="getAttractionTypesResponse" type="tns:getAttractionTypesResponse"/>

<xs:element name="getAttractions" type="tns:getAttractions"/>

<xs:element name="getAttractionsResponse" type="tns:getAttractionsResponse"/>

<xs:element name="getBooking" type="tns:getBooking"/>

<xs:element name="getBookingResponse" type="tns:getBookingResponse"/>

<xs:element name="getCities" type="tns:getCities"/>

<xs:element name="getCitiesResponse" type="tns:getCitiesResponse"/>

<xs:element name="getCountries" type="tns:getCountries"/>

<xs:element name="getCountriesResponse" type="tns:getCountriesResponse"/>

<xs:element name="getRegions" type="tns:getRegions"/>

<xs:element name="getRegionsResponse" type="tns:getRegionsResponse"/>

<xs:complexType name="bookAttraction">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="tns:orderedTicket" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderedTicket">
<xs:sequence>
<xs:element name="ticketTypeID" type="xs:int"/>
<xs:element name="amount" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookAttractionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCities">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCitiesResponse">
<xs:sequence>
<xs:element name="return" type="tns:city" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="city">
<xs:sequence>
<xs:element name="cityID" type="xs:int"/>
<xs:element name="cityName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAttractionTypes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAttractionTypesResponse">
<xs:sequence>
<xs:element name="return" type="tns:attractieType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="attractieType">
<xs:sequence>
<xs:element name="attractionTypeName" type="xs:string" minOccurs="0"/>
<xs:element name="attractionTypeID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRegions">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRegionsResponse">
<xs:sequence>
<xs:element name="return" type="tns:region" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="region">
<xs:sequence>
<xs:element name="regionID" type="xs:int"/>
<xs:element name="regionName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBooking">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="booking">
<xs:sequence>
<xs:element name="attraction" type="tns:attractie" minOccurs="0"/>
<xs:element name="orderedTickets" type="tns:orderedTicket" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="datum" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="attractie">
<xs:sequence>
<xs:element name="attractionID" type="xs:int"/>
<xs:element name="naam" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="pictures" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="website" type="xs:string" minOccurs="0"/>
<xs:element name="attractionType" type="tns:attractieType" minOccurs="0"/>
<xs:element name="tickets" type="tns:ticketType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ticketType">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="price" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCountries">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCountriesResponse">
<xs:sequence>
<xs:element name="return" type="tns:country" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="country">
<xs:sequence>
<xs:element name="countryCode" type="xs:string" minOccurs="0"/>
<xs:element name="countryName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAttractions">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:int"/>
<xs:element name="arg3" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAttractionsResponse">
<xs:sequence>
<xs:element name="return" type="tns:attractie" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>