AttractieService/web/WEB-INF/wsdl/userservice.devworks.nl/UserService.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://domain.userservice.th08.nl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://domain.userservice.th08.nl"><xs:complexType name="User"><xs:sequence><xs:element minOccurs="0" name="Address" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="City" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Country" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime"/><xs:element minOccurs="0" name="Email" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Password" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="UserId" type="xs:int"/><xs:element minOccurs="0" name="Username" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="User" nillable="true" type="tns:User"/></xs:schema>